- different ways to create dictionary
- to access key and values
- to add new pair
- loops in dictionary
- nested dictionary

In [10]:
student = {
    "name" : "John" ,
    "age" : 25 ,
    "course" : "Pyhton" ,
    "marks" : 80
}
print(student)

{'name': 'John', 'age': 25, 'course': 'Pyhton', 'marks': 80}

In [11]:
info = dict(name ='john', age = 25, course = 'python', marks = 80)
print(info)

{'name': 'john', 'age': 25, 'course': 'python', 'marks': 80}

##### user input in dictionary

In [12]:
student = {
    "name" : "John" ,
    "age" : 25 ,
    "course" : input("Enter your course: ") ,
    "marks" : 80
}
print(student)

{'name': 'John', 'age': 25, 'course': 'python', 'marks': 80}

In [13]:
info = dict(name ='john', age = 25, course = input("Enter your course: "), marks = 80)
print(info)

{'name': 'john', 'age': 25, 'course': 'java', 'marks': 80}

In [14]:
temp = {
    'lucknow' : [25,35,28],
    'delhi' : [30,40,35],
    'chennai' : [35,40,30]
    }
print(temp)

{'lucknow': [25, 35, 28], 'delhi': [30, 40, 35], 'chennai': [35, 40, 30]}

In [15]:
#1st method to  access the value
print(student['name'])

John

In [16]:
#2nd method
student.get("name")

'John'

In [17]:
student["city"] = "Lucknow"
print(student)

{'name': 'John', 'age': 25, 'course': 'python', 'marks': 80, 'city': 'Lucknow'}

In [18]:
student.keys()

dict_keys(['name', 'age', 'course', 'marks', 'city'])

In [19]:
student.values()

dict_values(['John', 25, 'python', 80, 'Lucknow'])

In [20]:
student.items()

dict_items([('name', 'John'), ('age', 25), ('course', 'python'), ('marks', 80), ('city', 'Lucknow')])

In [21]:
for k in student:
    print(k)

name
age
course
marks
city

In [22]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
age : 25
course : python
marks : 80
city : Lucknow

In [23]:
a = 20
b = 30
s = a+b
print("Sum: ", s)
print('sum of', a, 'and', b, 'is :', s)
print(f'sum of {a} and {b} is : {s}')

Sum:  50
sum of 20 and 30 is : 50
sum of 20 and 30 is : 50

In [24]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'dept': 'HR',
        'salary' : 25000
    },
    'emp002' : {
        'name' : 'Smith',
        'age' : 30,
        'dept': 'IT',
        'salary' : 30000
    },
    'emp003' : {
        'name' : 'Peter',
        'age' : 35,
        'dept': 'Admin',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR', 'salary': 25000}, 'emp002': {'name': 'Smith', 'age': 30, 'dept': 'IT', 'salary': 30000}, 'emp003': {'name': 'Peter', 'age': 35, 'dept': 'Admin', 'salary': 35000}}

In [25]:
from pprint import pprint

In [26]:
pprint(company)

{'emp001': {'age': 25, 'dept': 'HR', 'name': 'John', 'salary': 25000},
 'emp002': {'age': 30, 'dept': 'IT', 'name': 'Smith', 'salary': 30000},
 'emp003': {'age': 35, 'dept': 'Admin', 'name': 'Peter', 'salary': 35000}}

In [27]:
print(company['emp002']['salary'])

30000